/* 
ul {
  list-style-type: square;
  list-style-position: inside;
} 
*/
ul {
  list-style: square inside;
}

ol {
  list-style: lower-latin outside;
}

.ul-image {
  list-style-image: url(../../../../images/lotte.jpeg);
}

.ul-position {
  list-style-position: inside;
}