.width {
  width: 200px;
  height: 100px;
  margin: 15px;
  border-style: solid;
}

/* 
1개 값을 지정할 경우
전체 방향에 동시 지정 
*/
#all {
  border-width: 2px;
}

/* 
2개 값을 지정할 경우
첫 번째 값: 상하
두 번째 값: 좌우
*/
#reverse {
  border-width: thick thin;
}

/* 
3개 값을 지정할 경우
a b c
a : 상단(top)
b : 좌우(right, left)
c : 하단(bottom)
*/
#three {
  border-width: 4px 8px 12px;
}

#one {
  border-width: 10px 1px 15px 5px;
}

/* border-radius */
#round {
  border-radius: 25px;
}

#circle {
  border-radius: 50%;
}

.radius {
  width: 200px;
  height: 100px;
  display: inline-block;
  margin: 15px;
  background-color: aliceblue;
  border: 2px solid #222;
}

.round1{
  /* 네 군데 꼭짓점을 똑같은 크기로 라운딩 */
  border-radius : 50px/30px;  
}
.round2{
  /* 오른쪽 아래 꼭짓점을 가로 50%, 세로 30% 크기로 라운딩 */
  border-bottom-right-radius : 50% 30%;  
}
.round3{
  /* 왼쪽 위 꼭짓점을 가로 50px, 세로 30px 크기로 라운딩 */
  border-top-left-radius: 50px 30px;  
}
.round4{
  /* 값이  하나 뿐이면 가로 세로 똑같이 30px 크기로 라운딩  */
  border-bottom-left-radius: 30px;  
}