/* 동시 선택자 */
h1, h2 {
  color: green;
}

/* 하위 선택자 */
article p {
  color: blue;
}

/* 자식 선택자 */
ul > li {
  list-style-type: square;
}

/* 인접 형제 선택자 */
h2 + p {
  text-indent: 20px;
}

/* 일반 형제 선택자 */
h2 ~ p {
  font-style: italic;
}