<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - Grid</title>
  <link rel="stylesheet" href="styles/a_grid01.css">
</head>
<body>
  <!--  
    ! 명시적 그리드
      : grid-template-columns | grid-template-rows를 사용하여 생성

    ! 암시적 그리드
      : 콘텐츠가 해당 그리드 외부(예: 행)에 배치될 때 추가 그리드 선을 그려서 정의된 명시적 그리드를 확장
      속성값
        ? grid-auto-rows | grid-auto-columns 

    ! minmax() 함수
      : 트랙의 최소 및 최대 크기를 설정
      : 더 많은 콘텐츠를 수용하기 위해 확장
      : minmax(최소값, 최대값)
      속성값
        ? auto: 아이템의 내용 크기를 기반으로 트랙의 최소 또는 최대 크기를 설정
    
    ! 그리드에 들어맞을 때까지 열 생성
      : 그리드에 컨테이너에 들어갈 수 있는 만큼 열을 생성
      : auto-fit, minmax() 결합 시: 동적인 그리드 레이아웃 구현
      : auto-fit
        그리드 컨테이너에 여유 공간이 있을 경우, 가능한 한 많은 그리드 셀을 채워 넣으려고 시도
  -->

  <div class="container">
    <div>One</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
    <div>Five</div>
    <div>Six</div>
    <div>Seven</div>
  </div>

  <hr />
  <div class="grid-minmax">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
</body>
</html>