.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.item {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}