.card {
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 600px;
  }
}