div {
  width: 200px;
  height: 200px;

  padding: 20px;
  margin: 20px;

  border: 10px solid #ddd;
}

.box1 {
  box-sizing: content-box;
  background-color: lightblue;
}

.box2 {
  box-sizing: border-box;
  background-color: lightcoral;
}

/* box shadow 속성 */
.shadow {
  width: 200px;
  height: 100px;
  margin: 15px;
  border: 2px solid black;
}

.box3 {
  box-shadow: 5px 5px 10px 0px blue
  , -3px -3px 5px 0px yellow; 
}

.box4 {
  box-shadow: inset 2px 2px 5px 0px coral;
}