<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - flexbox</title>
  <link rel="stylesheet" href="styles/d_Flexbox03.css">
</head>
<body>
  <!--  
    align-items: 한 줄을 기준으로 정렬(수직 축 라인을 기준으로 정렬)
    align-content (수직 축 라인을 기준으로 두 줄 이상 일 때만 정렬)
      : 두 줄부터 사용하는데 의미
      : 두 줄의 flex-wrap: wrap;인 상태에서 사용
  -->
  <div class="flex-container">
    <div class="flex-item">1</div>
    <div class="flex-item">2</div>
    <div class="flex-item">3</div>
    <div class="flex-item">4</div>
    <div class="flex-item">5</div>
    <div class="flex-item">6</div>
  </div>
</body>
</html>