<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - Grid</title>
  <link rel="stylesheet" href="styles/c_grid03.css">
</head>
<body>
  <div class="container">
    <header>This is my blog.</header>
    <article>
      <h1>My article</h1>
      <p>
        This article is chapter 01.
        <br />
        It refers to a player who plays the role of throwing a ball to a batter in a baseball game. The team in charge of defense plays with the catcher (catcher) who receives the pitcher's ball.
      </p>

      <p>
        This article is chapter 02.
        <br />
        In baseball games, he is a fielder located behind the home plate. He catches the pitches thrown by his team's pitcher and protects the home plate.
      </p>
    </article>
    <aside>
      <p>This is an aside
        <br />
        Shortstop should have excellent quickness and excellent throwing ability. And place a player with a wide range of
        defense and excellent sense in the shortstop position.
      </p>
    </aside>
    <footer>Contact me: devgiants75@naver.com</footer>
  </div>
</body>
</html>