<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중첩된 flex box 실습</title>
  <link rel="stylesheet" href="styles/a_flex_practice.css">
</head>
<body>
  <header>
    <h1>Complex flex box example</h1>
  </header>

  <section>
    <article>
      <h2>First article</h2>

      <p>First Paragraph</p>
    </article>

    <article>
      <h2>Second article</h2>

      <p>Second Paragraph</p>
    </article>

    <article id="last-article">
      <div id="first-div">
        <button>one</button>
        <button>two</button>
        <button>three</button>
        <button>four</button>
        <button>five</button>
      </div>
      <div>
        <p>Third article - Second div</p>
      </div>
      <div>
        <p>Third article - Third div</p>
      </div>
    </article>
  </section>
</body>
</html>