.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.image img {
  /* 부모 요소 div 너비의 100% */
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .image {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .image {
    width: 33.33%;
  }
}