<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DOM 문서 객체 모델</title>
</head>
<body>
  <div id="first-dom">
    안녕하세요 DOM 입니다.
    <p class="para">div 01</p>
    <p class="para">div 02</p>
    <p class="para">div 03</p>
    <p class="para">div 04</p>
    <p class="para">div 05</p>
  </div>
  <div id="second-dom">안녕하세요 DOM 입니다.</div>

  <button id="button">Click Me</button>
  
  <script src="dom01.js"></script>
</body>
</html>