#container {
  width: 800px;
  height: 200px;
  margin: 20px auto;
  display: flex;
}

.origin {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 40px;
}

.origin > div {
  width: 100px;
  height: 100px;
  background-color: orange;
}

#movex:hover {
  /* x축으로(가로) 50px 이동 */
  transform: translateX(50px);
}

#movey:hover {
  /* y축으로(세로) 20px 이동 */
  transform: translateY(20px);
}

#movexy:hover {
  transform: translate(10px, 20px);
}