/* 전체 선택자 */
* {
  margin: 0;
  padding: 0;
}

/* 태그 선택자 */
p {
  color: blue;
}

/* 클래스 선택자 */
.highlight {
  background-color: yellow;
}

/* 아이디 선택자 */
#content {
  text-align: center;
}

/* 그룹 선택자 */
h1, footer p {
  font-size: 24px;
}