body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.box {
  /* 요소를 왼쪽 float 설정 */
  float: left;
  margin-right: 15px;

  width: 150px;
  height: 150px;
  background-color: rgb(60, 105, 145);
  border-radius: 5px;
  padding: 10px;
}

.special {
  background-color: rgb(79, 185, 227);
  padding: 10px;
  border-radius: 5px;
}

.cleared {
  clear: left;
}

/* display 속성 예제 */
nav ul {
  list-style: none;
}

nav ul li {
  /* 인라인 & 블록 레벨 요소 모두 지정 */
  display: inline-block;
  border: 1px solid #222222;
  padding: 20px;
  margin: 0 20px;
}

/* inline-flex 예제 */
/* 페이지에서 인라인 요소처럼 나타나면서 
  내부의 버튼들은 플렉스 아이템처럼 동작 */
.menu {
  display: inline-flex;
  border: 1px solid black;
  padding: 15px;
}

.menu-item {
  margin: 0 10px;
}

/* inline-grid 예제 */
.widget {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
}

.icon {
  font-size: 50px;
}

.text {
  font-size: 20px;
}