body {
  margin: 0;
}

header {
  background-color: tomato;
  height: 100px;
}

h1 {
  /* 가로 축 - 가운데 정렬 */
  text-align: center;
  color: white;
  /* 
  요소의 전체 높이와 동일하게 지정: 세로 축 - 가운데 정렬 */
  line-height: 100px;
  margin: 0;
}

section {
  display: flex;
  /* 주축, 교차축 방향 지정 */
  /* flex-direction: row-reverse; */

  /* item 줄 정렬 */
  /* flex-wrap: wrap; */

  /* flex-flow: row-reverse wrap; */
}

article {
  padding: 10px;
  margin: 10px;
  background-color: aquamarine;

}

#pitcher {
  order: 3;
  flex: 1;
}

#catcher {
  order: 1;
  flex: 2 150px;
}

#fielder {
  order: 2;
  flex: 1;
}