body {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 20px;
}

header, footer {
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border-radius: 5px;
}

aside {
  border-right: 1px solid #999999;
}

/* 라인 기반 12열 그리드 배치 */
header {
  grid-column: 1 / 13;
  grid-row: 1;
}

/* 12의 공간을 1:3배율 >> 3 3 3 3 */
aside {
  grid-column: 1 / 4;
  grid-row: 2;
}

article {
  grid-column: 4 / 13;
  grid-row: 2;
}

footer {
  grid-column: 1 / 13;
  grid-row: 3;
}

