<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout 기본</title>
  <link rel="stylesheet" href="styles/a_Layout.css">
</head>
<body>
  <!--  
    CSS Layout - 일반 대열(normal flow)

    : html 태그가 가지고 있는 기본 배치
      - 블록 레벨 요소
        : 자기 부모 요소의 너비 100%와 자체 콘텐츠의 최대 높이
      - 인라인 레벨 요소
        : 자체 콘텐츠의 최대 너비와 최대 높이
        : 너비, 높이 지정 X
        : 인라인 요소의 크기를 제어하는 방법
          display: block;
          display: inline-block; (두 가지의 성격이 혼합)
  -->
  <h1>기본 문서 flow</h1>

  <p>
    나는 기본 볼록 수준 요소입니다. 나와 인접한 블록 수준 요소는 내 아래 새 줄에
    자리합니다.
  </p>

  <p>
    기본값으로 우리는 우리 부모 요소의 너비 100%를 넘나들며, 우리 자녀 콘텐츠의
    최대 높이를 취합니다. 우리의 총 너비와 총 높이는 우리의 콘텐츠 + 패딩 + 테두리
    너비 및 높이입니다.
  </p>

  <p>
    우리는 여백으로 구분됩니다. 여백 축소로 때문에 우리의 여백 중의 하나의 너비로
    구분됩니다. 두게의 여백이 아니라.
  </p>

  <p>
    인라인 요소 
    <span>이 것과 같은</span> 그리고 
    <span>이것이</span> 차례로 같은
    라인에, 그리고 같은 라인에 공간이 있을 경우 인접한 텍스트 노드에 자리를 잡게
    됩니다. 인라인 요소가 오버플로할 경우
    <span>
      (이 경우와 같이 텍스트를 포함했을 경우) 가능하면 새 줄로
      접혀들어갑니다.
    </span>
      , 그렇지 않으면 새로운 라인으로 계속 진행할 것입니다. 이 이미지가 하는 것처럼: 
    <img src="../../../images/lotte.jpeg" />
  </p>
</body>
</html>