<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - Flexbox</title>
  <link rel="stylesheet" href="styles/b_Flexbox01.css" />
</head>
<body>
  <!--  
    ! Flexbox
      : CSS3에서 제공하는 레이아웃 모델
      : 아이템(요소) 간 공간 배분과 정렬을 쉽게 해주는 도구

    # flexbox를 활용하여 블록 레벨 요소를 가로 배치

    1. flexbox로 레이아웃을 할 요소 지정
      - 변화하고 싶은 요소의 부모 요소에 display 속성을 지정 (section)
      - display: flex; 
      - 부모 요소에 flex 속성값을 사용하는 경우
        : 자식 요소의 높이가 모두 같은 가로 배치 레이아웃이 적용

    ! Flexbox의 기본 구조
      ? flex container
        : flex items의 부모요소
        : flex items가 어떻게 배치, 정렬되고, 어떻게 크기를 갖게 될지 결정
        - display: flex | inline-flex;
      ? flex items
        : flex container 내의 모든 자식 요소들은 자동으로 flex items로 지정

      ? 주 축(main axis)
        : flex items가 배치되고 있는 방향으로 진행하는 축
        : flex-direction 속성 정의
          - row, row-reverse, column, column-reverse
        : 주 축의 시작, 끝
          - main start, main end

      ? 교차 축(cross axis)
        : flex items가 내부에 배치되는 방향에 수직인 방향을 이루는 축
        : 교차 축의 시작, 끝
          - cross start, cross end

    ^ Flex Container 속성
    ! display
      : flexbox를 활성화
      : display: flex | inline-flex;

    ! flex-direction
      : 주축, 교차축의 방향을 지정하는 속성
      : 행(row) - 가로
      : 열(column) - 세로
      : 역방향(reverse)

    ! flex-wrap
      : items가 여러 줄로 나누어져야 하는지를 설정하는 속성
      : wrap(각 행마다 분배), nowrap, wrap-reverse
      : flex-itmes에 지정한 flex: 200px 선언
        - 각 요소에 적어도 200px의 너비가 지정
    
    ! flex-flow (direction, wrap)
      : flex-direction과 flex-wrap 속성을 한 번에 지정 가능

    ^ Flex Item 속성
    ! flex
      * flex-grow
      - flex item이 기본 축을 따라 남은 공간을 얼마나 많이 차지할지 결정
      - 1-1. 전체 flex item에 'flex: 1;'' 지정
        (각각의 article 요소에 패딩과 여백이 지정된 이후 남은 여분의 공간을 모두 동등한 크기로 점유)

      - 1-2. 각각의 flex item에 flex 지정  
      - 각각의 flex item에 flex 속성을 지정하는 경우
        전체 flex의 합으로 전체 공간을 구분하여 
        각 요소에 배정된 공간으로 차지함.
    * flex-basis
    - flex item의 초기(main) 크기를 정의
    - article >> flex: 1 200px;
    - #fielder >> flex: 2 200px;
    - : 각 flex item은 먼저 사용 가능한 공간에서 200px을 부여, 그 후 나머지 사용 가능한 공간은 비례 단위에 따라 분배

    flex 속성
    : flex-grow, flex-shrink, flex-basis의 단축 속성

    ! order 속성
      : flex 아이템의 출력 순서를 정의 
      속성값
        ? 기본값 0, 정수(음수, 양수) 
  -->

  <header>
    <h1>Sample flexbox example</h1>
  </header>

  <section>
    <article id="pitcher">
      <h2>pitcher</h2>
      <p>
        It refers to a player who plays the role of throwing a ball to a batter in a baseball game. The team in charge of defense plays with the catcher (catcher) who receives the pitcher's ball.
      </p>
    </article>
    <article id="catcher">
      <h2>catcher</h2>
      <p>
        In baseball games, he is a fielder located behind the home plate. He catches the pitches thrown by his team's pitcher and protects the home plate.
      </p>
    </article>
    <article id="fielder">
      <h2>right fielder</h2>
      <p>
        When viewed from home plate, it refers to the outfielder on the right side of the field. In English, it is called Light Fielder. The position number of the right field is 9. Since right fielders are the farthest to third base among outfielders, it is common for the strongest shoulder among outfielders to be deployed to perform well in throwing to third base.
      </p>
    </article>
    <!-- short stop 복사 -->
    <!-- <article>
      <h2>short stop01</h2>
      <p>
        Shortstop should have excellent quickness and excellent throwing ability. And place a player with a wide range of defense and excellent sense in the shortstop position.
      </p>
    </article> 
    <article>
      <h2>short stop02</h2>
      <p>
        Shortstop should have excellent quickness and excellent throwing ability. And place a player with a wide range of defense and excellent sense in the shortstop position.
      </p>
    </article> 
    <article>
      <h2>short stop03</h2>
      <p>
        Shortstop should have excellent quickness and excellent throwing ability. And place a player with a wide range of defense and excellent sense in the shortstop position.
      </p>
    </article> 
    <article>
      <h2>short stop04</h2>
      <p>
        Shortstop should have excellent quickness and excellent throwing ability. And place a player with a wide range of defense and excellent sense in the shortstop position.
      </p>
    </article>  -->

  </section>
</body>
</html>