<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - flexbox 정렬</title>
  <link rel="stylesheet" href="styles/c_Flexbox02.css">
</head>
<body>
  <!--  
    flexbox 기능을 사용하여 기본 축 | 교차축을 따라 flex item 정렬
    
    ! align-items
      : flex item이 '교차축' 어디에 위치할지를 제어
      속성값
        ? flext-start
          : container의 교차 축 시작 부분으로 정렬
        ? flext-end
          : container의 교차 축 끝 부분으로 정렬
        ? center
          : container의 교차 축 중앙으로 정렬
        ? baseline
          : 자신의 기준선에 따라 정렬
        ? stretch
          : container의 전체 높이를 채우도록 늘어남. (items이 높이 값 X)

    ! align-self
      : 속성 한 개별 항목에 대한 align-items 동작을 재지정
      속성값
        ? align-items와 동일

    ! justify-content
      : items가 기본 축 상 어디에 놓이는지를 제어
      속성값
        ? flex-start
          : container의 시작 부분 정렬
        ? flext-end
          : container의 끝 부분 정렬
        ? center
          : container의 중앙으로 정렬
        ? space-between
          : 첫 번째 item은 container의 시작부분, 마지막 item은 끝 부분에 정렬
          : 나머지 items 사이에는 동일한 공간이 분배
        ? space-around
          : items 주위에 동일한 공간이 분배 (space-evenly)
          : 끝에 있는 items는 주위 공간의 절반 만큼만 갖게됨.
  -->
  <div>
    <button id="self">button01</button>
    <button>button02</button>
    <button>button03</button>
    <button>button04</button>
    <button>button05</button>
  </div>
</body>
</html>