button {
  letter-spacing: 1;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgb(200, 200, 0);
  background-color: rgba(0, 217, 217, 0.6);
  color: rgb(100 0 0);
  padding: 3px 10px;
  cursor: pointer;
}